# Source files
src/
public/
node_modules/

# Config files
.env
.env.*
.gitignore
.prettierrc.json
tsconfig*.json
vite.config.ts

# Build tools
.vscode/
.qwen/

# Docs
QWEN.md
README.md

# Development
*.log
dist/*.map
